@model StudentProjectMeinProfil.Models.LoginView

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_LayoutLoginRegister.cshtml";
}



<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-6 mx-auto">
            <div class="card border-0 shadow rounded-3 my-5">
                <div class="card-body p-2 p-sm-5">
                    <h2 class="card-title text-center mb-3 fw-bold fs-7">Login</h2>
                    <form asp-action="Login" method="post" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
                        <div class="form-group">
                            <label asp-for="UserName" class="control-label"></label>
                            <input asp-for="UserName" class="form-control" />
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Password" class="control-label"></label>
                            <input asp-for="Password" class="form-control" type="password" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <hr class="my-4">
                        <div class="text-center">
                            <p>
                                Not a member? <a asp-controller="Account" asp-action="Register">Register</a>
                            </p>
                        </div>
                        <div class="d-grid">
                            <button class="btn btn-primary btn-login fw-bold" type="submit" value="Login">
                                Login
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


